<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h3 class="text-center bg-light mt-5">注文履歴一覧</h5>
   </div>
 </div>

  <div class="row">
    <div class="col-5 mb-5 bg-light">
      <div class="table" >
          <thead>
              <tr>
                  <th>購入日時</th>
                  <th>購入者</th>
                  <th>注文個数</th>
                  <th>注文ステータス</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
      </div>
    </div>
  </div>
</div>